body {
    padding: 0;
    margin: 0;
    font-family: VT323, monospace;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 46px;
}

.fullscreen h1 {
    display: none;
}

#canvas--wrapper {
    position: relative;
}

#ui {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    visibility: hidden;
}

#ui.visible {
    visibility: initial;
}

#ui button {
    width: 200px;
    border: 2px solid white;
    background: black;
    color: white;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: VT323, monospace;
    padding: 5px 0;
}

#ui button.selected span {
    border-bottom: 2px solid white;
}

#ui .instructions {
    margin-top: 30px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

#canvas {
    background-color: black;
    display: block;
    margin: auto;
}
